<div id="sidebar" class="bg-light border-right">
  <div class="heading">
    <span><b>CV</b></span>    
  </div>
  <ul class="list list-group-flush">
    <li class="list-group-item list-group-item-action bg-light"><a href="<%= baseUrl %>/skills" class="link">Skills</a></li>
    <li class="list-group-item list-group-item-action bg-light"><a href="<%= baseUrl %>/portfolio" class="link">Portfolio</a></li>
    <li class="list-group-item list-group-item-action bg-light"><a href="<%= baseUrl %>/resume" class="link">Resume</a></li>
    <li class="list-group-item list-group-item-action bg-light"><a href="<%= baseUrl %>/downloads" class="link">Downloads</a></li>
    <li class="list-group-item list-group-item-action bg-light"><a href="<%= baseUrl %>/contacts" class="link">Contacts</a></li>
  </ul>
</div>
