<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page not found</title>
    <meta charset="UTF-8">
    <meta name="author" content="Marko Bošnjak">
    <meta name="description" content="Curriculum Vitae">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= baseUrl %>/images/cvFavicon.ico" rel="icon">
    <link href="/stylesheets/fontawesome/css/all.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../style/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container-fluid pageNotFound position center top">
      <div class="alert alert-danger" role="alert">Page not found!</div>
      <a href="<%= baseUrl %>/about/en" class="btn btn-dark">About <i class="fas fa-address-book"></i></a>
    </div>
  </body>
</html>
