<!DOCTYPE html>
<html lang="en">
  <body>
    <p>Hey <strong><%= firstName %></strong>,</p>
    <p>you have a new inquiry.</p>
    <p>
      Name: <strong><%= contact.name %></strong><br />
      Email: <strong><%= contact.email %></strong><br />
      Subject: <strong><%= contact.subject %></strong><br />
      Language: <strong><%= contact.isGerman ? "German" : "English" %></strong><br />
      Time: <strong><%= new Date(contact.date).toLocaleString("de-DE", { year: "numeric", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit" }) %></strong><br />
      Message: <strong><%= contact.message %></strong>
    </p>
  </body>
</html>
